@import "w3css/normalize";
@import "w3css/sass/utils";
@import "w3css/sass/table";
@import "w3css/sass/button";
@import "w3css/sass/input";
@import "w3css/sass/dropdown";
@import "w3css/sass/bar";
@import "w3css/sass/tooltip";
@import "w3css/sass/modal";
@import "w3css/sass/responsive";
@import "w3css/sass/display";
@import "w3css/sass/round";
@import "w3css/sass/card";
@import "w3css/sass/animation";
@import "w3css/sass/effects";
@import "w3css/sass/opacity";
@import "w3css/sass/font_and_text";
@import "w3css/sass/border";
@import "w3css/sass/margin";
@import "w3css/sass/padding";
@import "w3css/sass/ol-ul";
@import "w3css/sass/badge-tag";
@import "w3css/sass/w3cssstyles";
@import "w3css/sass/background_color";
@import "w3css/sass/text_color";