/* Animation */

@use "../_animation/w3-animate-bottom";
@use "../_animation/w3-animate-fading";
@use "../_animation/w3-animate-input";
@use "../_animation/w3-animate-left";
@use "../_animation/w3-animate-opacity";
@use "../_animation/w3-animate-right";
@use "../_animation/w3-animate-spin";
@use "../_animation/w3-animate-top";
@use "../_animation/w3-animate-zoom";