/* Border */

.w3-border-0 {
  border: 0 !important
}

.w3-border {
  border: 1px solid #ccc !important
}

.w3-border-top {
  border-top: 1px solid #ccc !important
}

.w3-border-bottom {
  border-bottom: 1px solid #ccc !important
}

.w3-border-left {
  border-left: 1px solid #ccc !important
}

.w3-border-right {
  border-right: 1px solid #ccc !important
}

.w3-topbar {
  border-top: 6px solid #ccc !important
}

.w3-bottombar {
  border-bottom: 6px solid #ccc !important
}

.w3-leftbar {
  border-left: 6px solid #ccc !important
}

.w3-rightbar {
  border-right: 6px solid #ccc !important
}