/* Display */

.w3-hide {
  display: none !important
}

.w3-show-block, .w3-show {
  display: block !important
}

.w3-show-inline-block {
  display: inline-block !important
}

@media (max-width: 600px) {
  .w3-hide-small {
    display: none !important
  }

  .w3-mobile {
    display: block;
    width: 100% !important
  }
}

@media (max-width: 992px) and (min-width: 601px) {
  .w3-hide-medium {
    display: none !important
  }
}

@media (min-width: 993px) {
  .w3-hide-large {
    display: none !important
  }

  .w3-sidebar.w3-collapse {
    display: block !important
  }
}

.w3-top, .w3-bottom {
  position: fixed;
  width: 100%;
  z-index: 1
}

.w3-top {
  top: 0
}

.w3-bottom {
  bottom: 0
}

.w3-display-topleft {
  position: absolute;
  left: 0;
  top: 0
}

.w3-display-topright {
  position: absolute;
  right: 0;
  top: 0
}

.w3-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0
}

.w3-display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0
}

.w3-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.w3-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%)
}

.w3-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%)
}

.w3-display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.w3-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.w3-display-container:hover .w3-display-hover {
  display: block
}

.w3-display-container:hover span.w3-display-hover {
  display: inline-block
}

.w3-display-container {
  position: relative
}

.w3-display-hover {
  display: none
}

.w3-display-position {
  position: absolute
}

.w3-left {
  float: left !important
}

.w3-right {
  float: right !important
}