/* Dropdown */

.w3-dropdown-click, .w3-dropdown-hover {
  position: relative;
  display: inline-block;
  cursor: pointer
}

.w3-dropdown-hover:hover .w3-dropdown-content {
  display: block
}

.w3-dropdown-hover:first-child, .w3-dropdown-click:hover {
  background-color: #ccc;
  color: #000
}

.w3-dropdown-hover:hover > .w3-button:first-child, .w3-dropdown-click:hover > .w3-button:first-child {
  background-color: #ccc;
  color: #000
}

.w3-dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
  z-index: 1
}

// TODO: I don't like this classes
@media (max-width: 600px) {
  .w3-dropdown-hover.w3-mobile .w3-dropdown-content, .w3-dropdown-click.w3-mobile .w3-dropdown-content {
    position: relative
  }

  .w3-bar-item.w3-mobile, .w3-dropdown-hover.w3-mobile, .w3-dropdown-click.w3-mobile {
    text-align: center
  }

  .w3-dropdown-hover.w3-mobile, .w3-dropdown-hover.w3-mobile .w3-btn, .w3-dropdown-hover.w3-mobile .w3-button, .w3-dropdown-click.w3-mobile, .w3-dropdown-click.w3-mobile .w3-btn, .w3-dropdown-click.w3-mobile .w3-button {
    width: 100%
  }
}