/* Font and Text */

.w3-tiny {
  font-size: 10px !important
}

.w3-small {
  font-size: 12px !important
}

.w3-medium {
  font-size: 15px !important
}

.w3-large {
  font-size: 18px !important
}

.w3-xlarge {
  font-size: 24px !important
}

.w3-xxlarge {
  font-size: 36px !important
}

.w3-xxxlarge {
  font-size: 48px !important
}

.w3-jumbo {
  font-size: 64px !important
}

.w3-left-align {
  text-align: left !important
}

.w3-right-align {
  text-align: right !important
}

.w3-justify {
  text-align: justify !important
}

.w3-center {
  text-align: center !important
}