/* Round */

.w3-circle {
  border-radius: 50%
}

.w3-round-small {
  border-radius: 2px
}

.w3-round, .w3-round-medium {
  border-radius: 4px
}

.w3-round-large {
  border-radius: 8px
}

.w3-round-xlarge {
  border-radius: 16px
}

.w3-round-xxlarge {
  border-radius: 32px
}