/* Text Color */

.w3-text-amber, .w3-hover-text-amber:hover {
  color: #ffc107 !important
}

.w3-text-aqua, .w3-hover-text-aqua:hover {
  color: #00ffff !important
}

.w3-text-blue, .w3-hover-text-blue:hover {
  color: #2196F3 !important
}

.w3-text-light-blue, .w3-hover-text-light-blue:hover {
  color: #87CEEB !important
}

.w3-text-brown, .w3-hover-text-brown:hover {
  color: #795548 !important
}

.w3-text-cyan, .w3-hover-text-cyan:hover {
  color: #00bcd4 !important
}

.w3-text-blue-grey, .w3-hover-text-blue-grey:hover, .w3-text-blue-gray, .w3-hover-text-blue-gray:hover {
  color: #607d8b !important
}

.w3-text-green, .w3-hover-text-green:hover {
  color: #4CAF50 !important
}

.w3-text-light-green, .w3-hover-text-light-green:hover {
  color: #8bc34a !important
}

.w3-text-indigo, .w3-hover-text-indigo:hover {
  color: #3f51b5 !important
}

.w3-text-khaki, .w3-hover-text-khaki:hover {
  color: #b4aa50 !important
}

.w3-text-lime, .w3-hover-text-lime:hover {
  color: #cddc39 !important
}

.w3-text-orange, .w3-hover-text-orange:hover {
  color: #ff9800 !important
}

.w3-text-deep-orange, .w3-hover-text-deep-orange:hover {
  color: #ff5722 !important
}

.w3-text-pink, .w3-hover-text-pink:hover {
  color: #e91e63 !important
}

.w3-text-purple, .w3-hover-text-purple:hover {
  color: #9c27b0 !important
}

.w3-text-deep-purple, .w3-hover-text-deep-purple:hover {
  color: #673ab7 !important
}

.w3-text-red, .w3-hover-text-red:hover {
  color: #f44336 !important
}

.w3-text-sand, .w3-hover-text-sand:hover {
  color: #fdf5e6 !important
}

.w3-text-teal, .w3-hover-text-teal:hover {
  color: #009688 !important
}

.w3-text-yellow, .w3-hover-text-yellow:hover {
  color: #d2be0e !important
}

.w3-text-white, .w3-hover-text-white:hover {
  color: #fff !important
}

.w3-text-black, .w3-hover-text-black:hover {
  color: #000 !important
}

.w3-text-grey, .w3-hover-text-grey:hover, .w3-text-gray, .w3-hover-text-gray:hover {
  color: #757575 !important
}

.w3-text-light-grey, .w3-hover-text-light-grey:hover, .w3-text-light-gray, .w3-hover-text-light-gray:hover {
  color: #f1f1f1 !important
}

.w3-text-dark-grey, .w3-hover-text-dark-grey:hover, .w3-text-dark-gray, .w3-hover-text-dark-gray:hover {
  color: #3a3a3a !important
}

.w3-border-amber, .w3-hover-border-amber:hover {
  border-color: #ffc107 !important
}

.w3-border-aqua, .w3-hover-border-aqua:hover {
  border-color: #00ffff !important
}

.w3-border-blue, .w3-hover-border-blue:hover {
  border-color: #2196F3 !important
}

.w3-border-light-blue, .w3-hover-border-light-blue:hover {
  border-color: #87CEEB !important
}

.w3-border-brown, .w3-hover-border-brown:hover {
  border-color: #795548 !important
}

.w3-border-cyan, .w3-hover-border-cyan:hover {
  border-color: #00bcd4 !important
}

.w3-border-blue-grey, .w3-hover-border-blue-grey:hover, .w3-border-blue-gray, .w3-hover-border-blue-gray:hover {
  border-color: #607d8b !important
}

.w3-border-green, .w3-hover-border-green:hover {
  border-color: #4CAF50 !important
}

.w3-border-light-green, .w3-hover-border-light-green:hover {
  border-color: #8bc34a !important
}

.w3-border-indigo, .w3-hover-border-indigo:hover {
  border-color: #3f51b5 !important
}

.w3-border-khaki, .w3-hover-border-khaki:hover {
  border-color: #f0e68c !important
}

.w3-border-lime, .w3-hover-border-lime:hover {
  border-color: #cddc39 !important
}

.w3-border-orange, .w3-hover-border-orange:hover {
  border-color: #ff9800 !important
}

.w3-border-deep-orange, .w3-hover-border-deep-orange:hover {
  border-color: #ff5722 !important
}

.w3-border-pink, .w3-hover-border-pink:hover {
  border-color: #e91e63 !important
}

.w3-border-purple, .w3-hover-border-purple:hover {
  border-color: #9c27b0 !important
}

.w3-border-deep-purple, .w3-hover-border-deep-purple:hover {
  border-color: #673ab7 !important
}

.w3-border-red, .w3-hover-border-red:hover {
  border-color: #f44336 !important
}

.w3-border-sand, .w3-hover-border-sand:hover {
  border-color: #fdf5e6 !important
}

.w3-border-teal, .w3-hover-border-teal:hover {
  border-color: #009688 !important
}

.w3-border-yellow, .w3-hover-border-yellow:hover {
  border-color: #ffeb3b !important
}

.w3-border-white, .w3-hover-border-white:hover {
  border-color: #fff !important
}

.w3-border-black, .w3-hover-border-black:hover {
  border-color: #000 !important
}

.w3-border-grey, .w3-hover-border-grey:hover, .w3-border-gray, .w3-hover-border-gray:hover {
  border-color: #9e9e9e !important
}

.w3-border-light-grey, .w3-hover-border-light-grey:hover, .w3-border-light-gray, .w3-hover-border-light-gray:hover {
  border-color: #f1f1f1 !important
}

.w3-border-dark-grey, .w3-hover-border-dark-grey:hover, .w3-border-dark-gray, .w3-hover-border-dark-gray:hover {
  border-color: #616161 !important
}

.w3-border-pale-red, .w3-hover-border-pale-red:hover {
  border-color: #ffe7e7 !important
}

.w3-border-pale-green, .w3-hover-border-pale-green:hover {
  border-color: #e7ffe7 !important
}

.w3-border-pale-yellow, .w3-hover-border-pale-yellow:hover {
  border-color: #ffffcc !important
}

.w3-border-pale-blue, .w3-hover-border-pale-blue:hover {
  border-color: #e7ffff !important
}