/* Styles from W3CSS */

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.w3-serif {
    font-family: serif
}

.w3-sans-serif {
    font-family: sans-serif
}

.w3-cursive {
    font-family: cursive
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 10px 0
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

.w3-serif {
    font-family: serif
}

.w3-sans-serif {
    font-family: sans-serif
}

.w3-cursive {
    font-family: cursive
}

.w3-wide {
    letter-spacing: 4px
}